name: flake8 Lint

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          ignore: "F722,F821,W503"
          max-line-length: "120"
          path: "ActRec"